# Object file
*.o

# Ada Library Information
*.ali
/KhN.FluentValidation/.vs/KhN.FluentValidation
/KhN.FluentValidation/KhN.Application/bin/Debug/net6.0
/KhN.FluentValidation/KhN.Application/obj
/KhN.FluentValidation/KhN.Cons/bin/Debug/net6.0
/KhN.FluentValidation/KhN.Cons/obj
/KhN.FluentValidation/KhN.Domain/obj
/KhN.FluentValidation/KhN.Domain/bin/Debug/net6.0
/KhN.FluentValidation/KhN.Resource/bin/Debug/net6.0
/KhN.FluentValidation/KhN.Resource/obj
/KhN.FluentValidation/KhN.TestProject/bin/Debug/net6.0
/KhN.FluentValidation/KhN.TestProject/obj
/KhN.FluentValidation/KhN.Web/obj
